<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.shareparking.com.spapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".features.search.SearchActivity"
            android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity
            android:name=".features.auth.SignUpActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".features.home.HomeActivity"
            android:label="@string/title_activity_home" />
        <activity android:name=".features.chooseOptionActivity.ChooseOptionActivity" />
        <activity
            android:name=".features.profile.ProfileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".features.auth.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />
    </application>

</manifest>